In [1]:
import gmplot
import pandas as pd
import numpy as np

In [2]:
class Map_Plotter(object):

    def __init__(self, filename):
        self.filename = filename
        df = None
        self.html_color_codes = {
            'aliceblue': '#F0F8FF',
            'antiquewhite': '#FAEBD7',
            'aqua': '#00FFFF',
            'aquamarine': '#7FFFD4',
            'azure': '#F0FFFF',
            'beige': '#F5F5DC',
            'bisque': '#FFE4C4',
            'black': '#000000',
            'blanchedalmond': '#FFEBCD',
            'blue': '#0000FF',
            'blueviolet': '#8A2BE2',
            'brown': '#A52A2A',
            'burlywood': '#DEB887',
            'cadetblue': '#5F9EA0',
            'chartreuse': '#7FFF00',
            'chocolate': '#D2691E',
            'coral': '#FF7F50',
            'cornflowerblue': '#6495ED',
            'cornsilk': '#FFF8DC',
            'crimson': '#DC143C',
            'cyan': '#00FFFF',
            'darkblue': '#00008B',
            'darkcyan': '#008B8B',
            'darkgoldenrod': '#B8860B',
            'darkgray': '#A9A9A9',
            'darkgreen': '#006400',
            'darkkhaki': '#BDB76B',
            'deepskyblue': '#00BFFF',
            'red' : '#FF0000',
            'green' : '#00FF00',
            'blue' : '#0000FF'}



    def get_data(self):
        df = pd.read_csv(self.filename+'.csv')[['SampleLongitude', 'SampleLatitude', 'Description']]
        df = df.dropna()
        self.df = df
        return df



    def plot_map(self):
        gmap = gmplot.GoogleMapPlotter(self.df['SampleLongitude'].iloc[0], self.df['SampleLatitude'].iloc[0], 12)
        for long, lat, name, color in zip(self.df.SampleLongitude.values, self.df.SampleLatitude.values, self.df.Description.values, self.html_color_codes.keys()):
            try:
                gmap.marker(float(long), float(lat), color=color, title=name+ " , " + str(long) + " , " + str(lat))
            except Exception as e:
                print(e)
        gmap.draw(self.filename+'.html')
        
def do_all(filename):
    plotter = Map_Plotter(filename)
    plotter.get_data()
    plotter.plot_map()
    return plotter.df

In [3]:
do_all('map_16')

   SampleLongitude  SampleLatitude           Description
0        51.524735       -0.131080  bioc3101_group1_2016
1        51.524392       -0.131120  bioc3101_group2_2016
2        51.523861       -0.130600  bioc3101_group3_2016
3        51.524309       -0.130543  bioc3101_group4_2016

In [4]:
do_all('map_17')

    SampleLongitude  SampleLatitude         Description
0         51.524735       -0.131080  bioc3101.2015.16.1
1         51.524392       -0.131120  bioc3101.2015.16.2
2         51.523861       -0.130600  bioc3101.2015.16.3
3         51.524309       -0.130543  bioc3101.2015.16.4
4         51.524127       -0.130407  bioc3301.2016.17.1
5         51.524102       -0.130661  bioc3301.2016.17.2
6         51.524355       -0.130789  bioc3301.2016.17.3
7         51.524586       -0.131266  bioc3301.2016.17.4
8         51.524546       -0.130894  bioc3301.2016.17.5
9         51.524224       -0.131111  bioc3301.2016.17.6
10        51.523972       -0.130877  bioc3301.2016.17.7
11        51.524363       -0.131291  bioc3301.2016.17.8

In [5]:
do_all('map_18')

    SampleLongitude  SampleLatitude Description
0         51.524800       -0.131000       team1
1         51.524770       -0.131220       team2
2         51.524114       -0.131286       team3
3         51.524500       -0.131600       team4
4         51.535722       -0.159251       team5
5         51.524530       -0.131230       team6
6         51.524610       -0.131030       team7
7         51.524400       -0.130900       team8
8         51.524570       -0.130640       team9
9         51.524641       -0.131086      team10
10        51.524273       -0.130798      team11
11        51.524296       -0.131330      team12
12        51.565109       -0.092020      team13
13        51.524300       -0.130900      team14
14        51.524400       -0.130720      team15
15        51.524460       -0.130490      team16
16        51.524541       -0.131043      team17
17        51.524240       -0.130530      team18
18        51.524150       -0.130740      team19
19        51.524048       -0.131024      team20
20        51.523900       -0.130900      team21
21        51.524339       -0.131135      team22
22        51.526605       -0.133294      team23
23        51.524220       -0.130200      team24
24        51.524006       -0.130014      team25
25        51.524100       -0.130300      team26
26        51.524149       -0.130816      team27
27        51.523747       -0.130889      team28
28        51.523722       -0.130722      team29
29        51.524489       -0.131737      team30